<footer class="bg-dark-gray">
  <div class="grid-container">
    <div class="grid-x grid-margin-x text-center">
      <div class="small-12 medium-4 cell">
        <h5>Contact Us</h5>
        <p><a href="https://api.whatsapp.com/send?phone=50258617312&text=Test"><i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i></a></p>
        <p><i class="fa fa-phone-square" aria-hidden="true"></i> (+502) 5861 7312</p> 
      </div>
      <div class="small-12 medium-4 cell">
        <h5>Navigation</h5>
        <ul class="vertical menu align-center">
          {{#each nav.item}}
          <li><a href="{{link}}">{{text}}</a></li>
          {{/each}}
        </ul>
      </div>
      <div class="small-12 medium-4 cell">
        <h5>Share</h5>
        <p><a href="https://twitter.com/intent/tweet?url=http://atitlanservices.com"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></p>
        <p><a href="http://www.facebook.com/sharer.php?u=http://atitlanservices.com"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a></p>
      </div>
    </div><!--/.grid-x-->
  </div><!--/.grid-container-->

  <div class="grid-container fluid bg-black">
    <div class="grid-x grid-margin-x">
      <div class="small-12 medium-6 text-right cell">
        <p><small>&copy; Atitl&aacute;n Services - All Rights Reserved</small></p>
      </div>
      <div class="small-12 medium-6 text-left cell">
        <p><small>Designed and developed by <a href="http://digitalartbb.com">Brad Busenius</a></small></p>
      </div>
    </div><!--/.grid-x-->
  </div><!--/.grid-container-->
</footer>
