<header id="main-nav-header" class="topbar-sticky-shrink-header {{#ifpage 'services'}}services-banner{{/ifpage}} {{#ifpage 'reservations'}}res-banner{{/ifpage}}">
  <span class="logo"><a href="index.html">Atitl&aacute;n Services</a></span>
</header>
<div data-sticky-container>
  <div id="main-nav" data-sticky data-margin-top='0' data-top-anchor="main-nav-header:bottom">
    <div class="top-bar topbar-sticky-shrink">
      <div class="title-bar" data-responsive-toggle="m" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="m"></button>
        <div class="title-bar-title">Menu</div>
      </div><!--/.title-bar-->

      <ul id="m" class="menu">
        {{#each nav.item}}
          <li><a href="{{link}}">{{text}} {{#ifequal text 'Español'}} <i class="fa fa-flag" aria-hidden="true"></i>{{/ifequal}}</a></li>
        {{/each}}
      </ul>
    </div><!--/.top-bar-->
  </div><!--/#main-nav-->
</div><!--/data-sticky-container-->
